{:widget('Blog/header')}




    <script src="__STATIC__/index/js/99ceb706dfe446e4b01dcb2c6c39b327.js"></script>

    <script src="__STATIC__/index/js/86301531ce674dd9add7e9eb961e6576.js"></script>

    <script src="__STATIC__/index/js/hg.common.js"></script>

    <script src="__STATIC__/index/js/jquery.fancybox.js"></script>

    <link href="__STATIC__/index/css/jquery.fancybox.css" rel="stylesheet"/>

    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->{:widget('Blog/left')}
<ul id="divTabPanel" class="nav nav-tabs" role="tablist">
    <li id="liTabTemplateManage" role="presentation" class="active"><a href="javascript:void(0);">信息模板设置</a></li>
</ul>
<div id="divTabContentPanel" class="tab-content">
    <div id="tabContent_liTabTemplateManage" role="tabpanel" class="tab-pane fade active in">
        <div class="parents-nodes" style="text-align:right; margin-right:20px;">
            <button type="button" class="btn btn-info btn-sm" onclick="p2052043135doEditData()"><i class="glyphicon glyphicon-plus"></i> <hg:trans>新增模板</hg:trans></button>
        </div>
        <div id="p2052043135divDataList">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>
                            <hg:trans>模板名称</hg:trans>
                        </th>
                        <th>
                            <hg:trans>模板内容</hg:trans>
                        </th>
                        <th>
                            <hg:trans>模板分类</hg:trans>
                        </th>
                        <th>
                            <hg:trans>状态</hg:trans>
                        </th>
                        <th>
                            <hg:trans>操作</hg:trans>
                        </th>
                    </tr>
                </thead>
                <tbody>
                        <tr ondblclick="p2052043135doEditData('9')">
                            <td style="text-align:left !important">
                                启运通知
                            </td>
                            <td style="text-align:left !important">
                                Dear [客户名称],
Thank you for shopping with us.
We have shipped out your order (o...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('9')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('9')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                        <tr ondblclick="p2052043135doEditData('8')">
                            <td style="text-align:left !important">
                                评价信息模板
                            </td>
                            <td style="text-align:left !important">
                                Dear [客户名称],
Thanks for your continuous support to our store, and we are strivi...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('8')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('8')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                        <tr ondblclick="p2052043135doEditData('7')">
                            <td style="text-align:left !important">
                                催付信息模板
                            </td>
                            <td style="text-align:left !important">
                                Dear [客户名称],
Have a nice day!
We appreciated your purchase from us. However,we...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('7')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('7')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                        <tr ondblclick="p2052043135doEditData('6')">
                            <td style="text-align:left !important">
                                订单已签收信息模板
                            </td>
                            <td style="text-align:left !important">
                                Dear [客户名称],
Great! Your order [订单号] was delivered to its destination on [最后更新时...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('6')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('6')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                        <tr ondblclick="p2052043135doEditData('5')">
                            <td style="text-align:left !important">
                                订单启运信息模板
                            </td>
                            <td style="text-align:left !important">
                                Dear[客户名称],
Thanks for your order [订单号].
Please be advised that your parcel ha...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('5')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('5')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                        <tr ondblclick="p2052043135doEditData('4')">
                            <td style="text-align:left !important">
                                订单已签收求好评信息模板
                            </td>
                            <td style="text-align:left !important">
                                Dear [客户名称],
Your parcel [number [追踪号] has arrived, which is shipped by [承运商].
...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('4')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('4')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                        <tr ondblclick="p2052043135doEditData('3')">
                            <td style="text-align:left !important">
                                订单退件信息模板
                            </td>
                            <td style="text-align:left !important">
                                Hi [客户名称],
Your order [订单号] is Return on [最后更新时间].
View Tracking Details: [追踪链...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('3')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('3')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                        <tr ondblclick="p2052043135doEditData('2')">
                            <td style="text-align:left !important">
                                订单到货待取件信息模板
                            </td>
                            <td style="text-align:left !important">
                                Hi [客户名称],
[承运商] reported that your order [订单号] has a delivery attempt failed o...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('2')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('2')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                        <tr ondblclick="p2052043135doEditData('1')">
                            <td style="text-align:left !important">
                                运输状态订单信息模板
                            </td>
                            <td style="text-align:left !important">
                                Hi [客户名称],
Great! Your order [订单号] is shipped and on the way to its destination...
                            </td>
                            <td style="text-align:left !important">
                                
                            </td>
                            <td>
 <span class="text-success"><hg:trans>启用</hg:trans></span>
                            </td>
                            <td>
                                <a href="javascript:void(0)" onclick="p2052043135doEditData('1')" hgtrans="true" class="glyphicon glyphicon-edit" title="编辑"></a> <a href="javascript:void(0)" onclick="p2052043135doDeleteData('1')" hgtrans="true" class="glyphicon glyphicon-remove" title="删除"></a>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    jQuery(function () {
        redgle.tab.init({ tabPanel: "divTabPanel", contentPanel: "divTabContentPanel" });
    });

    function p2052043135doEditData(id) {
        if (id == null || id == "")
            id = "";
        var url = "/SyncCommon/EditTemplate/" + id;
        redgle.tab.create("liTemplateEdit", url, translate.format("<hg:trans>编辑信息模板</hg:trans>"));
    }

    function p2052043135doDeleteData(id) {
        if (!window.confirm(translate.format("<hg:trans>删除您选择的信息之后将无法恢复，您确认要删除吗？</hg:trans>")))
            return false;

        $.ajax({
            type: "POST",
            url: "/SyncCommon/DeleteTemplate",
            data: { id: id },
            datatype: "json",
            success: function (data) {
                if (data.HasError) {
                    redgle.showMessage(translate.format("<hg:trans>您当前所做的操作没有成功，原因如下：{0}</hg:trans>", [data.Message]));
                }
                else {
p2052043135doReloadData();
                }
            },
            error: function (xhr) {
                redgle.showMessage(translate.format("<hg:trans>操作发生未知异常：{0} - {1}</hg:trans>", [xhr.status, xhr.statusText]));
            }
        });
    }

    function p2052043135doReloadData() {
        window.location.reload();
    }
</script>
<script src="js/jquery.unobtrusive-ajax.min.js"></script>



            </div>
    </div>
    <div style="clear:both; height:10px;">
    </div>

    

    
    <div class="waitting" id="divAjaxLoadingPanel" style="display:none;" tabindex="-1">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div class="scroll-to-top" style="display:none;" title="返回顶部">
        <i class="glyphicon glyphicon-chevron-up"></i>
    </div>
    <div class="scroll-to-bottom" style="display:none;" title="滚动到底部">
        <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
    <script language="javascript" type="text/javascript">
        $(function () {
            $(document).scroll(function () {
                initScrollButtonState();
            });

            $(".scroll-to-top").click(function () {
                $('html,body').animate({ scrollTop: '0px' }, 200);
            });

            $(".scroll-to-bottom").click(function () {
                var h = $(document).height() - $(window).height();
                $('html,body').animate({ scrollTop: h+'px' }, 200);
            })
        });

        $(document).ready(function () {
            initScrollButtonState();
        });
        
        function initScrollButtonState() {
            var scroll = $(document).scrollTop();
            if (scroll < 10) {
                $(".scroll-to-top").css("display", "none");
            }
            else {
                $(".scroll-to-top").css("display", "");
            }

            var h = $(document).height() - $(window).height();
            if (h < 10) {
                $(".scroll-to-bottom").css("display", "none");
            }
            else {
                if (h - scroll < 10) {
                    $(".scroll-to-bottom").css("display", "none");
                }
                else {
                    $(".scroll-to-bottom").css("display", "");
                }
            }
        }

        $(".menucontrol> span").click(function () {
            var parentPenel = $(this).parents(".menucontrol");
            if (parentPenel.attr("class").indexOf("menuhide") >= 0) {
                $(".top_panel").removeClass("menuhide");
                $(".left_panel").removeClass("menuhide");
                $(".menucontrol").removeClass("menuhide");
                $(".content_panel").removeClass("menuhide");
            }
            else {
                $(".top_panel").addClass("menuhide");
                $(".left_panel").addClass("menuhide");
                $(".menucontrol").addClass("menuhide");
                $(".content_panel").addClass("menuhide");
            }
        });
    </script>
</body>
</html>