<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>亚马逊卖家网址导航</title>

<link rel="apple-touch-icon-precomposed" href="favicon.ico">
<script type="text/javascript" src="__STATIC__/index/template/t1/static/js/jquery.min.js"></script>
<link rel="stylesheet" href="__STATIC__/index/template/t1/static/css/style.css" type="text/css">
<link rel="stylesheet" href="__STATIC__/index/template/t1/static/css/index.css" type="text/css">
<link rel="stylesheet" href="__STATIC__/index/template/t1/static/css/sheji.css" type="text/css">
<link rel="stylesheet" href="__STATIC__/index/template/t1/static/css/bootstrap1.min.css">
<link rel="stylesheet" href="__STATIC__/index/template/t1/static/css/mvpready-landing.css" type="text/css">

<script type="text/javascript">
    function notic_close(){
         $('#notic').css("display","none");
        }
 </script>
 
 <script type="text/javascript">
$(document).ready(function(){
  $("ul.ul-more").hide();
  $("ul.ul-more-title").click(function(){
    $(this).next("ul.ul-more").slideToggle("fast");
  })
});
</script>


</head>

<body>


<br />
<div id="main-container"  >

<!--页头开始--> <!-- 
<div title="亚马逊卖家网址导航"><a href="http://www.amz123.com/"><img src="__STATIC__/index/template/t1/static/picture/logo.png" width="205px"></a>
    <div class="timezone">
      <ul id="olinks">
        <li>北京时间 <a id="tbeijing"></a></li>
        <li>美国东部 <a id="teastus"></a></li>
        <li>美国西部 <a id="twestus"></a></li>
        <li>法国时间 <a id="tfrance"></a></li>
        <li>西&nbsp;&nbsp;班&nbsp;&nbsp;牙<a id="tspain"></a></li>
        <li>意&nbsp;&nbsp;大&nbsp;&nbsp;利<a id="titaly"></a></li>
        <li>日本时间 <a id="tjapan"></a></li>
        <li>英国时间 <a id="tenglish"></a></li>
        <li>德国时间 <a id="tgermany"></a></li>
      </ul>
    </div>
</div> -->
<!--页头结束--> 
<form  action="{:url('index/Yhjm')}" method="post">
  <div style="height:354px;width:100%;background:white;margin-bottom:9px;margin-top:-18px">
      <div  style="margin:0 auto;width:315px;height:100px">
            <div style="color:#000;width:100%;font-size:26px;font-weight:bold;padding-top:74px;">YHJM-Planet Dinosaur</div>
            <div style="border:1px solid #797979;height:56px;margin-top:13px;line-height:55px;color:#333333">
              <span style="margin-left:6px;margin-right:4px">用户名&nbsp;:</span><input type="text" name="user">
            </div>
            <div style="border:1px solid #797979;height:56px;margin-top:30px;line-height:55px;color:#333333">
              <span style="margin-left:6px">密&nbsp;&nbsp;&nbsp;码&nbsp;:</span><input type="password" name="password"></div>
            <div style="margin-left:83px;margin-right:4px"><input type="submit" value="登录"   style="width:140px;height:38px;border-radius:5px;border:1px solid #797979;cursor:pointer;margin:0 auto;margin-top:17px;"></div>
      </div>
  </div>
</form>


<div class="main-content">


 <!--搜索框开始-->    
  
<!--搜索框结束-->    

<div id="onebox" style="height:555px">

<style type="text/css">
ul, li { list-style: none; }
a { color: #666; text-decoration: none; outline: none; }
img { border: 0; }
.fl { float: left; }
</style>


<div class="container">

<!--顶栏开始-->
<div class="clearfix title_bar"></div>
<div class="toplist">
<ul class="icon_toplist">
<li><a href="https://www.amazon.com/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/amazon-us.png"><span>美国站</span></a></li>
<li><a href="https://www.amazon.co.uk/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/amazon-uk.png"><span>英国站</span></a></li>
<li><a href="https://www.amazon.co.jp/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/amazon-janpan.png"><span>日本站</span></a></li>
<li><a href="https://www.amazon.de/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/amazon-germany.png"><span>德国站</span></a></li>
<li><a href="https://www.amazon.fr/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/amazon-france.png"><span>法国站</span></a></li>
<li><a href="https://www.amazon.it/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/amazon-italy.png"><span>意大利站</span></a></li>
<li><a href="https://www.amazon.es/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/amazon-spain.png"><span>西班牙站</span></a></li>
<li><a href="https://www.amazon.com.au/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/amazon-au.png"><span>澳洲站</span></a></li>
<li><a href="https://sellercentral.amazon.com/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/backstage.png"><span>美国后台</span></a></li>
<li><a href="https://sellercentral.amazon.co.uk/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/backstage.png"><span>英国后台</span></a></li>
<li><a href="https://sellercentral.amazon.de/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/backstage.png"><span>德国后台</span></a></li>
<li><a href="https://sellercentral-japan.amazon.com/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/backstage.png"><span>日本后台</span></a></li>


<li><a href="http://translate.google.cn/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/googletranslate.png"><span>谷歌翻译</span></a></li>
<li><a href="https://www.1688.com/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/1688.png"><span>阿里巴巴</span></a></li>
<li><a href="https://www.facebook.com/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/facebook.png"><span>Facebook</span></a></li>
<li><a href="http://tmsearch.uspto.gov" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/shangbiao.jpg"><span>美国商标局</span></a></li>
<li><a href="http://affiliate.bqool.com/idevaffiliate.php?id=251_6" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/bqool.jpg"><span>Bqool</span></a></li>
<li><a href="https://www.payoneer.com/zh/campaign/receive-amazon-earnings-to-china/?utm_source=AMZ123&utm_medium=ppc&utm_campaign=AMZ123-icon-2line-amazon" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/payoneer.jpg"><span>亚马逊收款</span></a></li>
<li><a href="http://superbrowser.ziniao.com/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/llq.png"><span>超级浏览器</span></a></li>
<li><a href="http://kj.tt/" target="_blank"><img src="__STATIC__/index/template/t1/static/picture/kjtt.png"><span>跨境头条</span></a></li>
<li><a href="https://www.amazon.com/gp/bestsellers" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/america.png"><span>美亚销售榜</span></a></li>
<li><a href="https://www.amazon.com/gp/new-releases" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/america.png"><span>美亚新品榜</span></a></li>
<li><a href="https://www.amazon.com/gp/movers-and-shakers" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/america.png"><span>美亚飙升榜</span></a></li>
<li><a href="https://haimai.amazon.cn/" target="_blank" rel="nofollow"><img src="__STATIC__/index/template/t1/static/picture/assistant.png"><span>海卖助手</span></a></li>
</ul>
</ul>
</div>
<!--顶栏结束-->

<!--右侧导航1开始-->
<div class="footer-menu-view">
        <div id="footer-menu" botoffset="100px">
        
<!-- 
<a href="http://www.hdb.com/party/hse02.html" target="_blank" align="center">
    <img src="__STATIC__/index/template/t1/static/picture/huodong.png" style="margin-bottom: 8px;" width="65px" height="65px" title="活动推荐">
    <span class="small"></span>
</a>
-->
          <!-- 
            <ul class="plane-bd">    
            
                <li>
                    <a href="#arrow=baby_tbody1" target="_self">
                        <img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">
                        <span class="small">常用工具</span>
                    </a>
                </li>
                <li>
                    <a href="#arrow=baby_tbody2" target="_self">
                        <img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">
                        <span class="small">论坛资讯</span>
                    </a>
                </li>
                <li>
                    <a href="#arrow=baby_tbody4" target="_self">
                        <img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">
                        <span class="small">关键词</span>
                    </a>
                </li>
                                <li>
                <a href="#arrow=baby_tbody5" target="_self">
                        <img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">
                        <span class="small">综合软件</span>
                    </a>
                </li>
                <li>
                    <a href="#arrow=baby_tbody6" target="_self">
                        <img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">
                        <span class="small">选品分析</span>
                    </a>
                </li>
                <li>
                    <a href="#arrow=baby_tbody8" target="_self">
                        <img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">
                        <span class="small">收款方式</span>
                    </a>
                </li>
                <li>
                    <a href="#arrow=baby_tbody11" target="_self">
                        <img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">
                        <span class="small">其他工具</span>
                    </a>
                </li>
                <li>
                    <a href="#arrow=baby_tbody13" target="_self">
                        <img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">
                        <span class="small">服务商</span>
                    </a>
                </li>
                <li>
                        <span><DIV style="DISPLAY: none" id="goTopBtn" ><a title="返回顶部" class="jz52topa" ><img src="__STATIC__/index/template/t1/static/picture/backstage.png" width="18px" height="18px">  回到顶部</a></DIV></span>
                        <SCRIPT type=text/javascript>goTopEx();</SCRIPT>
                </li>

            </ul> -->
        </div>
    </div>
<!--右侧导航1结束-->  
    
<!--右侧导航2开始-->  
<div id="jz52top" >
<span><DIV style="DISPLAY: none" id="goTopBtn" ><a title="返回顶部" class="jz52topa" ><b>回到顶部</b></a></DIV></span>
<SCRIPT type=text/javascript>goTopEx();</SCRIPT>
</div>      
<!--右侧导航2结束-->

<script type="text/javascript" src="__STATIC__/index/template/t1/static/js/utils.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/template/t1/static/js/app.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/template/t1/static/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/index/template/t1/static/js/top.js"></script>
<script src="__STATIC__/index/template/t1/static/js/jquery.js"></script>
<script src="__STATIC__/index/template/t1/static/js/bootstrap.min.js"></script>
</body>
</html>