
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>远华嘉茂</title>
    <link href="__STATIC__/INDEX/css/bootstrap.min.css" rel="stylesheet"/>
<link href="__STATIC__/INDEX/css/27224e36159247cf82cbfe3edb33bf88.css" rel="stylesheet"/>
<link href="__STATIC__/INDEX/css/home.css" rel="stylesheet"/>

    <script src="__STATIC__/index/js/87b782516c524ce4954ed2df22483f59.js"></script>

</head>
<body>
    <span style="background-color:#f0ad4e"></span>

<nav class="top_panel navbar nav_bottom">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav" id="ulTopMenu">
            <li><a href="/Home/Index"><hg:trans>首页</hg:trans></a></li>
                            <li>
                                <a href="/Product/Index" >
                                    产品
                                </a>
                                <div class="childmenu">
                                    <div style="padding:10px;">
                                        <div style='padding:5px 0px;'><strong>本地产品

</strong></div>
<div>
<a  href="/Product/Index" >产品管理

</a>
<a  href="/Catalog/Product/Index" >产品目录

</a>
<a  href="/PhotoBank/Index" >图片银行

</a>
<a  href="/Catalog/PhotoBank/Index" >图片银行目录

</a>
</div>
<div style='padding:5px 0px;'><strong>商品映射

</strong></div>
<div>
<a  href="/OnlineProduct/Index" >商品映射管理

</a>
<a  href="/SKUMapping/Index" >SKU映射

</a>
</div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/Crawl/Product" >
                                    刊登
                                </a>
                                <div class="childmenu">
                                    <div style="padding:10px;">
                                        <div style='padding:5px 0px;'><strong>商品采集

</strong></div>
<div>

<a  href="/Crawl/Product" >商品采集

</a>
<a  href="/Crawl/Index" >采集箱

</a>
<a  href="/Crawl/ShopMove" >店铺搬家

</a>
</div>
<div style='padding:5px 0px;'><strong>亚马逊刊登

</strong></div>
<div>
<a  href="/AmazonPublish/Preview" >待发布库

</a>
<a  href="/AmazonPublish/Index" >线上商品

</a>
<a  href="/AmazonPublish/Model" >模板管理

</a>
<a  href="/AmazonPublish/ProductCodePool" >UPC管理

</a>
</div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/Order/Index" >
                                    订单
                                </a>
                                <div class="childmenu">
                                    <div style="padding:10px;">
                                        <div style='padding:5px 0px;'><strong>订单搜索

</strong></div>
<div>
<a  href="/Order/Index" >全部订单

</a>
<a  href="/Order/OrderReceipt" >已发货

</a>
<a  href="/Order/OrderShippingRecord" >发货记录

</a>
<a  href="/Order/OrderAbandoned" >已作废

</a>
</div>
<div style='padding:5px 0px;'><strong>订单流程

</strong></div>
<div>
<a  href="/Order/OrderSync" >同步订单

</a>
<a  href="/Order/OrderApprove" >待审核

</a>
</div>
<div style='padding:5px 0px;'><strong>综合处理

</strong></div>
<div>
<a  href="/Order/OrderPostBacked" >订单回传

</a>
<a  href="/Order/AllocationException" >配货异常

</a>
<a  href="/PackageTrack/SyncTrack" >挂号物流跟踪

</a>
<a  href="/PackageTrack/SyncFbaTrack" >第三方仓库配送

</a>
</div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/OrderMessage/AmazonEmail" >
                                    客服
                                </a>
                                <div class="childmenu">
                                    <div style="padding:10px;">
                                        <div style='padding:5px 0px;'><strong>Amazon客服

</strong></div>
<div>
<a  href="/OrderMessage/AmazonEmail" >邮件管理

</a>
<a  href="/OrderMessage/AmazonBadFeedBack" >差评管理

</a>
</div>
<div style='padding:5px 0px;'><strong>客户管理

</strong></div>
<div>
<a  href="/Customer/Index" >客户管理

</a>
<a  href="/Catalog/Customer/Index" >客户目录

</a>
</div>
<div style='padding:5px 0px;'><strong>售后管理

</strong></div>
<div>
<a  href="/RMA/Index" >售后单

</a>
<a  href="/RMA/RMAReport" >产品退换货统计

</a>
</div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/PurOrder/Index" >
                                    采购
                                </a>
                                <div class="childmenu">
                                    <div style="padding:10px;">
                                        <div style='padding:5px 0px;'><strong>采购管理

</strong></div>
<div>
<a  href="/PurOrder/Index" >采购单

</a>
<a  href="/PurOrder/PuringOrder" >等待到货

</a>
<a  href="/PurOrder/OutOfStockOrder" >缺货订单

</a>
</div>
<div style='padding:5px 0px;'><strong>买家账户管理

</strong></div>
<div>
<a  href="/BuyerUser/Index" >买家账户

</a>
</div>

                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="/SyncCommon/MessageTemplate" >
                                    系统配置
                                </a>
                                <div class="childmenu">
                                    <div style="padding:10px;">
                                        <div style='padding:5px 0px;'><strong>电商平台设置

</strong></div>
<div>
<a  href="/SyncCommon/MessageTemplate" >信息模板设置

</a>
</div>

                                    </div>
                                </div>
                            </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li id="lnkTopUserMenu">
                    <a href="javascript:void(0);" class="dropdown-toggle" role="button"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                    <ul class="dropdown-menu" style="margin-top:-2px; z-index:10000;">
                        <li><a href="javascript:void(0)"><hg:trans>欢迎您</hg:trans>：cheerwsn</a></li>
                        <li><a href="javascript:doUserSetting();"><hg:trans>帐号设置</hg:trans></a></li>
                            <li><a href="javascript:doSetMulitLanage();"><hg:trans>多语言设置</hg:trans></a></li>
                        <li><a href="javascript:doChangePassword();"><hg:trans>修改密码</hg:trans></a></li>
                        <li class="divider"></li>
                        <li><a href="/Login/logout"><hg:trans>退出</hg:trans></a></li>
                    </ul>
                </li>
        </ul>
    </div>
</nav>
<script language="javascript" type="text/javascript">
    $("#lnkTopUserMenu").hover(
        function () {
            $(this).children("ul").show();
            $(this).addClass("active");
        },
        function () {
            $(this).children("ul").hide();
            $(this).removeClass("active");
        }
    );
    function doUserSetting() {
        var userSettingModal = new redgle.modal({ type: "iframe", content: "/Account/UserSetting", title: translate.format("<hg:trans>帐号设置</hg:trans>") });
        userSettingModal.show();
    }
    function doSetMulitLanage() {
        var changePasswordModal = new redgle.modal({ width: 400, height: 300, type: "iframe", content: "/Account/Lanage", title: translate.format("<hg:trans>设置多语言</hg:trans>") });
        changePasswordModal.show();
    }
    function doChangePassword() {
        var changePasswordModal = new redgle.modal({ width: 500, height: 400, type: "iframe", content: "/Account/ChangePwd", title: translate.format("<hg:trans>修改密码</hg:trans>") });
        changePasswordModal.show();
    }
    function doOpenCustomerServiceCenter() {
        var customerServiceModal = new redgle.modal({ width: 750, height: 500, type: "iframe", content: "/Account/CustomerServiceCenter", title: translate.format("<hg:trans><font style='font-size:15px;font-weight:700'>客服中心</font><font style='font-size:13px;'>（点击按钮可通过QQ进行沟通，请确认已启动QQ）</font></hg:trans>") });
        customerServiceModal.show();
    }
</script>

<script language="javascript" type="text/javascript">
    $("#ulTopMenu > li").each(function () {
        $(this).hover(
            function () {
                $(this).children("div").show();
                $(this).addClass("active");
            },
            function () {
                $(this).children("div").hide();
                $(this).removeClass("active");
            }
        );
    });
</script>
