html,body,div,form,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,p,input{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}ol,ul{list-style-type:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}input,select,textarea{outline:none}abbr{border-bottom:none}body,button,input,label,select,td,textarea{font:14px/18px arial,"Simsun",tahoma,verdana,sans-serif}body{color:#666}a{color:#405162;text-decoration:none}a:hover{color:#f26929;text-decoration:underline}.uc-section,.mod,.bd,.clearfix{zoom:1}.uc-section:after,.mod:after,.bd:after,.clearfix:after{content:"";display:table;clear:both;font-size:0;height:0;line-height:0;visibility:hidden}.lfloat{float:left}.rfloat{float:right}

#main-container{width:1050px;margin:0 auto}
#onebox,#footer {width:100%;background:#FFF;margin:0 auto;}
.container { width: 98%; margin: 0 auto; overflow: hidden; }

.mod{border:1px solid #cdcdcd;background-color:#fff}
.mod .hd{height:24px;padding:8px 10px;line-height:24px}
.mod .title{font-size:14px}

.media-list{overflow:hidden;margin-right:-10px;zoom:1}
.media-list .media-item{float:left;margin:0 9px 0 0;font-size:12px;white-space:nowrap;line-height:24px}body{color:#666;background-color:#f4f4f5}

/*搜索框*/
.main-content-row{margin:10px 0}.main-side-column .mod{margin-bottom:-1px}.main-side-column .bd{margin:0 10px 10px}.title{color:#405162}
.search-tabList{padding-top:0px;margin-left:203px;height:5px;color:#405162}
.search-tabList li{float:left;display:block;margin-right:19px;width:36px;height:20px;text-align:center;line-height:20px;cursor:pointer}
.search-tabList li.current{background:#ff8d1d;color:white}
.search{padding-bottom:0px}
.search-form{position:relative;top:18px;margin-left:0px;height:45px}
.search-form2{position:relative;top:25px;margin-left:358px;height:45px}
.search-form3{position:relative;top:-20px;margin-left:699px;height:35px}
.search-form form{position:absolute;left:18px;top:7px}
.search-logo{position:absolute;top:-4px;width:138px;height:53px;background-position:-484px 0}
#search_logo{position:absolute;top:-4px;left:-17px;width:150px;height:52px;cursor:pointer}
#search_logo div{width:137px;height:52px;background-repeat:no-repeat}
#search_box{display:none;width:120px;height:4px;position:absolute;left:-5px;bottom:-7px;}
.search-baidu-logo{background-position:0 0}
.search_icon{position:absolute;right:0;top:23px;width:15px;height:15px;display:block;}
#search_logo_list{position:absolute;top:4px;left:1px;width:112px;padding:0 2px;border:1px solid #cecece;border-top:0;background:#fff}
#search_logo_list li{display:block;padding-left:18px;font-size:14px;letter-spacing:.6em;height:40px;line-height:40px;border-bottom:1px solid #eee;cursor:pointer}
#search_logo_list .current{background:#f1f1f1}
#search_logo_list li span{margin-right:13px;width:20px;height:40px;display:block;float:left;}
.search_logo_baidu{background-position:-140px -6px}
.search-input{width:242px;height:36px;border:1px solid #d8d8d8;border-radius:2px;position:relative}
.search-input input{position:absolute;top:0;left:0;width:266px;height:24px;line-height:24px;text-indent:10px;padding:6px 0;font-size:14px;vertical-align:middle;outline:none;border:0}
.search-sbmit{position:absolute;top:0;left:247px;width:86px;height:37px;border:1px solid #cecece;background-color:#3385FF;outline:none;color:#FFF;font-size:16px;text-align:center;line-height:35px;cursor:pointer}
.search-sbmit:active{background:#f1f1f1}
   
   
body, p, ul, li, input { font-family: \5fae\8f6f\96c5\9ed1, Verdana, Arial, Helvetica, sans-serif; font-size: 14px; margin: 0; padding: 0; }
body
.nav_list { padding-bottom: 1px; }
.title_bar { margin: 0 0 8px 0; }
.title { font-size: 15px; font-weight: bold; color: #dd5862; }
.line_hr { width: 91%; height: 10px; *line-height: 0; margin: 0 0 0 10px; border-bottom: 1px #ddd solid; }
.line_left { width: 76%; height: 10px; *line-height: 0; margin: 0 0 0 10px; border-bottom: 1px #ddd solid; }
.line_right { width: 9%; height: 10px; *line-height: 0; margin: 0 0 0 10px; border-bottom: 1px #ddd solid; }
.line_short { width: 84.9%; height: 10px; *line-height: 0; margin: 0 0 0 10px; border-bottom: 1px #ddd solid; }
ul.icon_toplist { margin: 17px 0 0 2px; }
ul.icon_toplist li { position: relative; float: left; width: 5.2%; height: 90px; margin-right: 1.56%; margin-left: 1.56%; }
ul.icon_toplist li a { display: block; width: 5.2%; height: 85px; margin-bottom: 5px;}
ul.icon_toplist li a:hover, a:focus { }
ul.icon_toplist li img { width: 48px; height: 48px; padding: 4px; }
ul.icon_toplist li span { position: absolute; bottom: 12px; left: 0; display: block; width: 86px; margin-left: -15px; text-align: center; }
.categorytop { width: 98%; line-height: 32px; margin: 0 0 10px 0; }
.categorytop li { float: left; width: 11.11%; }
.categorytop li a:hover, a:focus { text-decoration:none; color:#fff; background:#01b0ec; }
.category { width: 98%; line-height: 32px; margin: 0 0 10px 0; }
.category li { float: left; width: 10%; }
.category li a:hover, a:focus { text-decoration:none; color:#fff; background:#01b0ec; }
.footer { width: 920px; margin: 0 auto; border-top: 1px #ddd solid; padding: 20px; text-align: center; }

.timezone { width:670px; border:1px solid #fff;height:70px;float:right}
.timezone li { float: left; width:200px; padding:2px 10px;}
.timezone li a{ margin-left:20px;padding:2px 5px;}
.timezone li a.active{  background:#ff8d1d;color:#fff;}
.timezone li a:hover, a:focus { text-decoration:none; color:#fff; background:#ff8d1d; }



 .input-group{position:relative;display:table;border-collapse:separate}
 .input-group[class*=col-]{float:none;padding-right:0;padding-left:0}
 .input-group .form-control{position:relative;z-index:2;float:left;width:185px;margin-bottom:0}
 
 
 .input-group-btn{width:auto}.navbar-form .input-group>.form-control{width:100%}
 .input-group-btn{display:table-cell}.input-group .form-control:not(:first-child):not(:last-child),
 .input-group-btn:not(:first-child):not(:last-child){border-radius:0}
 .input-group-btn{width:1%;white-space:nowrap;vertical-align:middle}
 .input-group .form-control:first-child,
 .input-group-btn:first-child>.btn,
 .input-group-btn:first-child>.btn-group>.btn,
 .input-group-btn:first-child>.dropdown-toggle,
 .input-group-btn:last-child>.btn-group:not(:last-child)>.btn,
 .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle){border-top-right-radius:0;border-bottom-right-radius:0}
 .input-group .form-control:last-child,
 .input-group-btn:first-child>.btn-group:not(:first-child)>.btn,
 .input-group-btn:first-child>.btn:not(:first-child),
 .input-group-btn:last-child>.btn,.input-group-btn:last-child>.btn-group>.btn,
 .input-group-btn:last-child>.dropdown-toggle{border-top-left-radius:0;border-bottom-left-radius:0}
 .input-group-btn{position:relative;font-size:0;white-space:nowrap}
 .input-group-btn>.btn{position:relative}
 .input-group-btn>.btn+.btn{margin-left:-1px}
 .input-group-btn>.btn:active,.input-group-btn>.btn:focus,
 .input-group-btn>.btn:hover{z-index:2}
 .input-group-btn:first-child>.btn,
 .input-group-btn:first-child>.btn-group{margin-right:0.5px}
 .input-group-btn:last-child>.btn,
 .input-group-btn:last-child>.btn-group{z-index:2;margin-left:0.5px}
 
 
 .btn>.caret,.dropup>.btn>.caret{border-top-color:#000!important}
 .btn{display:inline-block;padding:6px 12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border:2px solid transparent;border-radius:4px}
 .btn.active.focus,
 .btn.active:focus,
 .btn.focus,
 .btn:active.focus,
 .btn:active:focus,
 .btn:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:2px}
 .btn.focus,
 .btn:focus,
 .btn:hover{color:#333;text-decoration:none}
 .btn.active,
 .btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,.125);box-shadow:inset 0 3px 5px rgba(0,0,0,.125)}
 .btn.disabled,
 .btn[disabled],fieldset[disabled] .btn{cursor:not-allowed;filter:alpha(opacity=65);-webkit-box-shadow:none;box-shadow:none;opacity:.65}a.btn.disabled,fieldset[disabled] a.btn{pointer-events:none}
 
 
 .btn-default{color:#333;background-color:#fff;border-color:#ccc}
 .btn-default.focus,
 .btn-default:focus{color:#333;background-color:#e6e6e6;border-color:#8c8c8c}
 .btn-default:hover{color:#333;background-color:#e6e6e6;border-color:#adadad}
 .btn-default.active,.btn-default:active,.open>.dropdown-toggle.btn-default{color:#333;background-color:#e6e6e6;border-color:#adadad}
 .btn-default.active.focus,
 .btn-default.active:focus,
 .btn-default.active:hover,
 .btn-default:active.focus,
 .btn-default:active:focus,
 .btn-default:active:hover,
 .open>.dropdown-toggle.btn-default.focus,
 .open>.dropdown-toggle.btn-default:focus,
 .open>.dropdown-toggle.btn-default:hover{color:#333;background-color:#d4d4d4;border-color:#8c8c8c}
 .btn-default.active,
 .btn-default:active,
 .open>.dropdown-toggle.btn-default{background-image:none}.btn-default.disabled,
 .btn-default.disabled.active,
 .btn-default.disabled.focus,
 .btn-default.disabled:active,
 .btn-default.disabled:focus,
 .btn-default.disabled:hover,
 .btn-default[disabled],
 .btn-default[disabled].active,
 .btn-default[disabled].focus,
 .btn-default[disabled]:active,
 .btn-default[disabled]:focus,
 .btn-default[disabled]:hover,fieldset[disabled] .btn-default,fieldset[disabled] .btn-default.active,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:active,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{background-color:#fff;border-color:#ccc}
 .btn-default .badge{color:#fff;background-color:#333}.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}.btn-primary.focus,
 
 
 .dropdown-menu{position:absolute;top:100%;left:0;z-index:1000;display:none;float:left;min-width:100px;padding:5px 0;margin:2px 0 0;font-size:14px;text-align:left;list-style:none;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.15);border-radius:4px;-webkit-box-shadow:0 6px 12px rgba(0,0,0,.175);box-shadow:0 6px 12px rgba(0,0,0,.175)}
 .dropdown-menu.pull-right{right:0;left:auto}
 .dropdown-menu .divider{height:1px;margin:9px 0;overflow:hidden;background-color:#e5e5e5}
 .dropdown-menu>li>a{display:block;padding:3px 30px;clear:both;font-weight:400;line-height:1.42857143;color:#333;white-space:nowrap}
 .dropdown-menu>li>a:focus,
 .dropdown-menu>li>a:hover{color:#262626;text-decoration:none;background-color:#f5f5f5}
 .dropdown-menu>.active>a,
 .dropdown-menu>.active>a:focus,
 .dropdown-menu>.active>a:hover{color:#fff;text-decoration:none;background-color:#337ab7;outline:0}
 .dropdown-menu>.disabled>a,
 .dropdown-menu>.disabled>a:focus,
 .dropdown-menu>.disabled>a:hover{color:#777}
 .dropdown-menu>.disabled>a:focus,
 .dropdown-menu>.disabled>a:hover{text-decoration:none;cursor:not-allowed;background-color:transparent;background-image:none;filter:progid:DXImageTransform.Microsoft.gradient(enabled=false)}.open>
 .dropdown-menu{display:block}.open>a{outline:0}
 .dropdown-menu-right{right:0;left:auto}
 .dropdown-menu-left{right:auto;left:0}
 .dropdown-header{display:block;padding:3px 20px;font-size:12px;line-height:1.42857143;color:#777;white-space:nowrap}
 .dropdown-backdrop{position:fixed;top:0;right:0;bottom:0;left:0;z-index:990}
 .pull-right>.dropdown-menu{right:0;left:auto}
 .dropup .caret,.navbar-fixed-bottom.dropdown .caret{content:"";border-top:0;border-bottom:4px dashed;border-bottom:4px solid\9}
 .dropup .dropdown-menu,.navbar-fixed-bottom 
 .dropdown .dropdown-menu{top:auto;bottom:100%;margin-bottom:2px}
 
 
 .open>.dropdown-toggle.btn-info:focus,
 .open>.dropdown-toggle.btn-info:hover{color:#fff;background-color:#269abc;border-color:#1b6d85}
 .open>.dropdown-toggle.btn-info{background-image:none}
 .open>.dropdown-toggle.btn-primary{color:#fff;background-color:#286090;border-color:#204d74}
 .open>.dropdown-toggle.btn-primary.focus,
 .open>.dropdown-toggle.btn-primary:focus,
 .open>.dropdown-toggle.btn-primary:hover{color:#fff;background-color:#204d74;border-color:#122b40}
 .btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-primary{background-image:none}
 .open>.dropdown-toggle.btn-success{color:#fff;background-color:#449d44;border-color:#398439}.btn-success.active.focus,.btn-success.active:focus,
 .btn-success.active:hover,.btn-success:active.focus,.btn-success:active:focus,.btn-success:active:hover,.open>.dropdown-toggle.btn-success.focus,
 .open>.dropdown-toggle.btn-success:focus,.open>.dropdown-toggle.btn-success:hover{color:#fff;background-color:#398439;border-color:#255625}.btn-success.active,
 .btn-success:active,.open>.dropdown-toggle.btn-success{background-image:none}.btn-success.disabled,.btn-success.disabled.active,.btn-success.disabled.focus,
 .btn-info.active,.btn-info:active,.open>.dropdown-toggle.btn-info{color:#fff;background-color:#31b0d5;border-color:#269abc}
 .btn-info:active:hover,.open>.dropdown-toggle.btn-info.focus,
 .open>.dropdown-toggle.btn-warning.focus,
 .open>.dropdown-toggle.btn-warning:focus,
 .open>.dropdown-toggle.btn-warning:hover{color:#fff;background-color:#d58512;border-color:#985f0d}.btn-warning.active,
 .btn-warning:active,.open>.dropdown-toggle.btn-warning{background-image:none}.btn-warning.disabled,.btn-warning.disabled.active,
 .open>.dropdown-toggle.btn-danger.focus,
 .open>.dropdown-toggle.btn-danger:focus,
 .open>.dropdown-toggle.btn-danger:hover{color:#fff;background-color:#ac2925;border-color:#761c19}.btn-danger.active,.btn-danger:active,
 .open>.dropdown-toggle.btn-danger{background-image:none}
 .btn-warning.active,.btn-warning:active,.open>.dropdown-toggle.btn-warning{color:#fff;background-color:#ec971f;border-color:#d58512}
 .btn-danger.active,.btn-danger:active,.open>.dropdown-toggle.btn-danger{color:#fff;background-color:#c9302c;border-color:#ac2925}
 .dropdown,.dropup{position:relative}.dropdown-toggle:focus{outline:0}
 .dropdown .dropdown-menu{top:auto;left:auto}
   

  .caret{display:inline-block;width:0;height:0;margin-left:2px;vertical-align:middle;border-top:4px dashed;border-top:4px solid\9;border-right:4px solid transparent;border-left:4px solid transparent}
 .btn .caret{margin-left:0}
 .btn-lg .caret{border-width:5px 5px 0;border-bottom-width:0}
 .dropup .btn-lg .caret{border-width:0 5px 5px}
 
 


a.weixin {position: relative;}
a.weixin1 {position: relative;}

    .weixin img {
      position: absolute;
      z-index: 99;
      top: -160px;
      right: 40px;
      width: 9.5rem;
      max-width: none;
      height: 9.5rem;
      transform: scale(0);
      transform-origin: top right;
      opacity: 0;
      border-radius: .25rem;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;

    }

    .weixin1 img {
      position: absolute;
      z-index: 99;
      top: -165px;
      right: -18px;
      width: 9.5rem;
      max-width: none;
      height: 9.5rem;
      transform: scale(0);
      transform-origin: top right;
      opacity: 0;
      border-radius: .25rem;
      -webkit-transition: all .4s ease-in-out;
      -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
    }

    .weixin:hover img {
        transform: scale(1);
        opacity: 1;
    }
    .weixin1:hover img {
        transform: scale(1);
        opacity: 1;
    }
