.nav-tabs, .nav-pills {margin-bottom: 1.5em;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {color: #d74b4b;background-color: #ffffff;font-weight: 600;}
.nav-tabs > li > a {color: #444444;background-color: transparent;}