@charset "gb2312";
#scrolltop {
   display: none;
}
ul#navmenu ul
{ 
display: none; 
position: absolute; 
left: -233px;
bottom: 5px;
} 
ul#navmenu li:hover ul ul, 
ul#navmenu li.iehover ul ul,  { 
display: none; 
} 
ul#navmenu li:hover ul, 
ul#navmenu ul li:hover ul, 
ul#navmenu ul ul li:hover ul, 
ul#navmenu li.iehover ul, 
ul#navmenu ul li.iehover ul, 
ul#navmenu ul ul li.iehover ul { 
display: block; 
} 

#jz52top a {margin: 6px 0;}

#jz52top { z-index: 200; visibility: visible; right: 39%; margin-right: -530px; }

#jz52topa { visibility: hidden;}

#jz52top, #jz52top a { border: none;}

#jz52top { position: fixed; bottom: 40px; display: block; width: 40px; background: none repeat scroll 0% 0% transparent; border: 0px #cdcdcd solid; border-radius: 3px; border-top: 0; cursor: pointer; }
#jz52top:hover { text-decoration: none; }

#jz52top 
a { display: block; width: 44px; height: 44px; padding: 0; line-height: 12px; text-align: center; color: #787878; text-decoration: none; background: #fff url('../images/top.gif') no-repeat 0 0; border-top: 0px #cdcdcd solid; }
a.jz52topa:hover { background:  no-repeat 0 0 !important;}
a.replyfast { background-position: 0 -40px !important; }
a.replyfast:hover { background-position: -40px -40px !important;}
a.returnlist { background:  url('../images/qq.gif') no-repeat 0 0 !important; }
a.returnlist:hover { background:  url('../images/qq_h.gif') no-repeat 0 0  !important;}
a.returnboard { background-position: -80px -240px !important; }
a.returnboard:hover { background-position: -120px -240px !important;}
a.jzqr { background:  url('../images/ewm.gif') no-repeat 0 0 !important; }
a.jzqr:hover { background:  url('../images/ewm_h.gif') no-repeat 0 0 !important;}
a.jzwx { background-position: 0 -320px !important; }
a.jzwx:hover { background-position: -40px -320px !important;}					
a.jzkf { background-position: -80px 0px !important; }
a.jzkf:hover { background-position: -120px -0px !important;}
a.jzfx { background-position: -80px -40px !important; }
a.jzfx:hover { background-position: -120px -40px !important;}
.jzfxn { background: #fff !important; width: 231px !important; height: 260px !important; }
a.jzlast { background-position: -80px -80px !important; }
a.jzlast:hover { background-position: -120px -80px !important;}
a.jznext { background-position: -80px -120px !important; }
a.jznext:hover { background-position: -120px -120px !important;}				
a.jzsct { background-position: 0px -160px !important; }
a.jzsct:hover { background-position: -40px -160px !important;}				
a.jzscb { background-position: -80px -160px !important; }
a.jzscb:hover { background-position: -120px -160px !important;}				
a.jzqqq { background-position: 0px -200px !important; }
a.jzqqq:hover { background-position: -40px -200px !important;}				
a.jzwo { background-position: -80px -200px !important; }
a.jzwo:hover { background-position: -120px -200px !important;}
a.jzzdy { background:  url('../images/pl.gif') no-repeat 0 0 !important; }
a.jzzdy:hover { background:  url('../images/pl_h.gif') no-repeat 0 0 !important;}
a.jzfbzt { background-position: 0px -280px !important; }
a.jzfbzt:hover { background-position: -40px -280px !important;}

#jzqrn { background: #fff !important; width: 231px !important; height: 260px !important; }
#jzqrn { border: 1px solid rgb(210, 210, 210); }
#jzqrn p {
    font-size: 15px;
    padding-bottom: 15px;
    text-align: center;
color: #999;
    font-family: Microsoft YaHei;
}
#jzwon { background: #fff !important; width: 231px !important; height: 260px !important; }
#jzwon { border: 1px solid rgb(210, 210, 210); }
#jzfxn { border: 1px solid rgb(210, 210, 210); }
#jzfxn h3 {
    height: 23px;
    background: none repeat scroll 0% 0% rgb(250, 250, 250);
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 10px 0px 0px 10px;
}
#jzfxn .bdsharebuttonbox { padding: 13px 0px 0px 20px; }
#jzfxn .bdsharebuttonbox a, #jzfxn .bdsharebuttonbox .bds_more {
    float: left;
    font-size: 12px;
    padding-left: 25px;
    line-height: 16px;
text-align: left;
    height: 16px;
    background: url("../images/icons_1_16.png") no-repeat scroll 0px 0px ;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 6px 6px 6px 0px;
text-indent: 0;
    overflow: hidden;
width: 68px;
}
#jzfxn .bdsharebuttonbox .bds_qzone {
    background-position: 0px -52px !important;
}
#jzfxn .bdsharebuttonbox .bds_tsina {
    background-position: 0px -104px !important;
}
#jzfxn .bdsharebuttonbox .bds_tqq {
    background-position: 0px -260px !important;
}
#jzfxn .bdsharebuttonbox .bds_renren {
    background-position: 0px -208px !important;
}
#jzfxn .bdsharebuttonbox .bds_tqf {
    background-position: 0px -364px !important;
}
#jzfxn .bdsharebuttonbox .bds_tieba {
    background-position: 0px -728px !important;
}
#jzfxn .bdsharebuttonbox .bds_sqq {
    background-position: 0px -2652px !important;
}
#jzfxn .bdsharebuttonbox .bds_hi {
    background-position: 0px -416px !important;
}
#jzfxn .bdsharebuttonbox .bds_isohu {
    background-position: 0px -3016px !important;
}
#jzfxn .bdsharebuttonbox .bds_weixin {
    background-position: 0px -1612px !important;
}
#jzfxn .bdsharebuttonbox .bds_t163 {
    background-position: 0px -832px !important;
}
#jzfxn .bdsharebuttonbox .bds_tsohu {
    background-position: 0px -520px !important;
}
#jzfxn .bdsharebuttonbox .bds_baidu {
    background-position: 0px -2600px !important;
}
#jzfxn .bdsharebuttonbox .bds_qq {
    background-position: 0px -624px !important;
}
#jz52top a b {
    visibility: hidden;
    font-weight: normal;
}
#olinks li a {
	padding:0 0 0 2px;
}

